html {
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}
* {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.resizable {
    background-image: url(../images/handle.png);
    background-position: bottom right;
    background-repeat: no-repeat;
}
#container {
    font-family: "Roboto Condensed";
    font-size: 18px;
    color: rgb(232, 255, 254);
    background-color: rgba(0,0,0,0.01);
}
.end-encounter,
#source {
    display: none;
}
h3 {
    font-size: 24px;
    font-weight: normal;
    padding: 0px 8px 4px 4px;
    margin:0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ff-header {
    color: #eee7cd;
    text-shadow: -1px 0 2px #795516, 0 1px 2px #795516, 1px 0 2px #795516, 0 -1px 2px #795516;
}
.duration {
    color: #fff;
    text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
}
.raidDPS {
    color: #fff;
    text-shadow: -1px 0 3px #a22121, 0 1px 3px #a22121, 1px 0 3px #a22121, 0 -1px 3px #a22121;
}
.ff-text {
    color: #E2EBF5;
    text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
}
.ff-text-damage {
    color: #E2EBF5;
    text-shadow: -1px 0 3px #a22121, 0 1px 3px #a22121, 1px 0 3px #a22121, 0 -1px 3px #a22121;
}
.ff-text-heals {
    color: #E2EBF5;
    text-shadow: -1px 0 3px #4fa221, 0 1px 3px #4fa221, 1px 0 3px #4fa221, 0 -1px 3px #4fa221;
}
.combatants {
    padding: 0 6px 6px;
}
.header {
}
.encounter-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px 5px 2px;
    font-size: 24px;
}
.encounter-data {
    line-height: 20px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.extra-details {
    padding: 0px 6px 10px 6px;
}
.collapsed .extra-details {
    display: none;
}
.extra-row {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.extra-details .cell,
.extra-details .label,
.extra-details .value {
    margin-right: 4px;
}
.chart-view-switcher {
    font-size: 18px;
    cursor: pointer;
    position: fixed;
    top: 7px;
    right: 18px;
    text-transform: uppercase;
    color: #fff;
    overflow: hidden;
    text-shadow: -1px 0 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.6), 1px 0 2px rgba(0, 0, 0, 0.6), 0 -1px 2px rgba(0, 0, 0, 0.6);
    z-index: 12;
}
.chart-view-switcher .damage,.chart-view-switcher .tanking:hover {
    transition: text-shadow 1.4s ease-in;
    text-shadow: -1px 0 3px #a22121, 0 1px 3px #a22121, 1px 0 3px #a22121, 0 -1px 3px #a22121;
}
.chart-view-switcher .healing, .chart-view-switcher .damage:hover {
    transition: text-shadow 1.4s ease-in;
    text-shadow: -1px 0 3px #4fa221, 0 1px 3px #4fa221, 1px 0 3px #4fa221, 0 -1px 3px #4fa221;
}
.chart-view-switcher .tanking, .chart-view-switcher .healing:hover {
    transition: text-shadow 1.4s ease-in;
    text-shadow: -1px 0 3px #217AA2, 0 1px 3px #217AA2, 1px 0 3px #217AA2, 0 -1px 3px #217AA2;
}
.data-set-view-switcher {
    float:right;
    position: relative;
    margin: -11px 3px 0 0;
}
.data-set-option {
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    text-shadow: -1px 0 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.6), 1px 0 2px rgba(0, 0, 0, 0.6), 0 -1px 2px rgba(0, 0, 0, 0.6);
    z-index: 12;
}
.data-set-option:after {
    content: "solo" 
}
.data-set-option.active:after {
    content: "raid"
}
.target-name {
    cursor: pointer;
    margin-right: 4px;
    padding: 0px 4px;
    position: relative;
    transition: box-shadow 1s ease;
}
.target-name:hover {
    box-shadow: inset 0 0 6px 6px #232323, 0 1px 0 0 #000;
    border-radius: 2px;
}
.chart-header {
    font-weight: bold;
    font-size: 14px;
    position: relative;
    right: 9px;
    bottom: 13px;
    float: right;
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
    text-shadow: -1px 0 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.6), 1px 0 2px rgba(0, 0, 0, 0.6), 0 -1px 2px rgba(0, 0, 0, 0.6);
    overflow: hidden;
    z-index: 11;
}
li {
    position: relative;
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.2);
}
li:last-child {
    margin-bottom: 0;
}
.self .character-name {
    visibility: hidden;
    margin-right: -30px;
}
.self .character-name:before {
    visibility: visible;
    content: "Natyusha Nynaj";
    color: #fff;
}
.self .character-star:after {
    visibility: visible;
    content: " ★";
    color: #ffefb4;
}
.text-overlay {
    position: absolute;
    top: 0;
    color: #fff;
    text-shadow: -1px 0 2px rgba(0, 0, 0, 0.6), 0 1px 2px rgba(0, 0, 0, 0.6), 1px 0 2px rgba(0, 0, 0, 0.6), 0 -1px 2px rgba(0, 0, 0, 0.6);
    background-color: rgba(0, 0, 0, 0);
    left: 0;
    right: 4px;
    bottom: 0;
    z-index: 10;
    line-height: 24px;
}
.info {
    overflow: hidden;
    white-space: nowrap;
}
.row .stats {
    float: right;
    white-space: nowrap;
}

.bar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transition: width .6s ease-in-out;
    opacity: 1;
}
.show-job-colors .gla .bar, .show-job-colors .pld .bar {background-color: #a8d2e6}
.show-job-colors .mrd .bar, .show-job-colors .war .bar {background-color: #cf2621}
.show-job-colors .drk .bar {background-color: #d126cc}
.show-job-colors .gnb .bar {background-color: #796d30}
.show-job-colors .cnj .bar, .show-job-colors .whm .bar {background-color: #fff0dc}
.show-job-colors .sch .bar {background-color: #8657ff}
.show-job-colors .ast .bar {background-color: #ffe74a}
.show-job-colors .pgl .bar, .show-job-colors .mnk .bar {background-color: #d69c00}
.show-job-colors .lnc .bar, .show-job-colors .drg .bar {background-color: #4164cd}
.show-job-colors .rog .bar, .show-job-colors .nin .bar {background-color: #af1964}
.show-job-colors .sam .bar {background-color: #e46d04}
.show-job-colors .arc .bar, .show-job-colors .brd .bar {background-color: #91ba5e}
.show-job-colors .mch .bar {background-color: #6ee1d6}
.show-job-colors .dnc .bar {background-color: #e2b0af}
.show-job-colors .thm .bar, .show-job-colors .blm .bar {background-color: #a579d6}
.show-job-colors .acn .bar, .show-job-colors .smn .bar {background-color: #2d9b78}
.show-job-colors .rdm .bar {background-color: #e87b7b}
.show-job-colors .blu .bar {background-color: #3752d8}
.show-job-colors .limit .bar {background-color: #1c1c1c}
.job-icon {
    padding-left: 2px;
    float: left;
    height: 24px;
}
.job-icon img {
    margin-top: 1px;
    height: 24px;
    width: 24px;
}
.character-job {
    margin-left: 4px;
    text-transform: uppercase;
    opacity: 0.6;
    display: none;
}
.rank {
    display: none;
}
.character-name {
    padding-left: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.inactive .bar {
    background-color: #795516;
}
.arrow {
    cursor: pointer;
    display: inline-block;
    margin-left: 3px;
    height: 16px;
    width: 16px;
}
.arrow:after {
    clear: both;
    display: block;
    position: relative;
    top: 12px;
    left: 8px;
    content: "";
    height: 0;
    width: 0;
    padding: 0;
    margin: -4px;
    border:4px solid transparent;
}
.arrow.down:after {
    border-top-color: #fff;
}
.arrow.up:after {
    top: 8px;
    border-bottom-color: #fff;
}
.hidden {
    display: none;
}
.dropdown-parent {
    position: relative;
}
.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 20px;
    left: 0px;
    padding: 2px 4px;
    z-index: 100;
}
.clearfix:before,
.clearfix:after{
    display:table;
    content:'';
}
.clearfix:after{
    clear:both;
}